@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
  color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.backgroundP1 {
  @apply absolute -z-20 bg-backgroundImgOne w-[90%] h-full md:w-[92%] md:h-[78%] lg:top-[82px] md:top-16 md:left-10 bg-cover rotate-3;
}

.backgroundP2 {
  @apply absolute -z-[21] bg-backgroundImgTwo left-12 w-[90%] h-[95%] md:w-[97%] md:h-[80%] md:top-20 lg:top-20 bg-cover rotate-6;
}

.btn {
  background-color: black;
  color: white;
}

.experience {
  @apply border-y border-solid border-y-white flex justify-between  px-3 lg:px-7 py-10 hover:bg-white hover:text-black  transition ease-out duration-500;
}
